.leaflet-container {
    width: 1200px;
    height: 580px;
}

.leaflet-top.leaflet-left {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    width: 98%;
}

.leaflet-routing-container.leaflet-bar.leaflet-control {
    position: fixed;
    left: 0;
    top: 200px; /* Ajusta según sea necesario */
    width: 350px;
    background-color: gray;
    color: white;
    font-size: 15px;
    
}

